/* src/styles/AuthPage.css */

.auth-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/foods-on-plate.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-box input,
.auth-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.auth-box button {
  width: 100%;
  background-color: #ff5c5c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 5px;
}

.auth-box button:hover {
  background-color: #e64949;
}

.auth-box .link-button {
  background: none;
  color: #555;
  text-decoration: underline;
  margin-top: 10px;
}

.app-name {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff5c5c;
  font-weight: bold;
}

